/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Raleway:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* variables */
:root {
    --color-font-light: #F0F4F7;
    --color-font-dark: #090C22;
    --bkg-dark: #090C22;
    --bkg-pink: #DD4261;
    --bkg-light: #E2D6B9;
    --bkg-white: #F0F4F7;
    --btn-primary: #DD4261;
    --btn-secondary: #E2D6B9;
    --btn-tertiary: #090C22;
}

html {
    background-color: var(--bkg-dark);
    scroll-behavior: smooth;
}

/* Font setup */
h1, h2, h4 {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h3, p, button, li, a, span, #hero-subtitle {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
}

.bold-text {
    font-weight: 700;
}

.italic-text {
    font-style: italic;
}

h1 {
    font-size: 68px;
}

h2 {
    font-size: 42px;
}

h3, #hero-subtitle {
    font-size: 28px;
}

h4 {
    font-size: 20px;
}

/* Section setup */
section {
    min-height: 60vh;
}

#website-header-section {
    min-height: 5vh;
}

.content-container {
    padding: 5% 0%;
    min-height: 50vh;
    max-width: 1024px;
    margin: auto;
}

.small-content-container {
    max-width: 1024px;
    margin: auto;
}

/* Section background colors */
#advantages-section, #more-testimonials-section {
    background-color: var(--bkg-pink);
    color: var(--color-font-light);
}

#hero-section, #intro-section, #testimonial-section, nav, #website-header-section, #package-section, #second-footer-section, #footer-links-section {
    background-color: var(--bkg-dark);
    color: var(--color-font-light);
}

#contact-footer-section, #services-section, #more-advantages-section, #about-section, #smaller-footer-section {
    background-color: var(--bkg-light);
    color: var(--color-font-dark);
}

/* Buttons */
.btn {
    padding: 10px 25px;
    color: var(--color-font-light);
    border-radius: 50px;
}

.btn-primary {
    background-color: var(--btn-primary);
    font-weight: 700;
}

.btn-secondary {
    background-color: var(--btn-secondary);
    color: var(--color-font-dark);
    font-weight: 700;
}

.btn-tertiary {
    background-color: var(--btn-tertiary);
    font-weight: 700;
}

/* hover behavior */
.btn-primary:hover {
    opacity: 0.90;
}

.btn-secondary:hover {
    opacity: 0.90;
}

.btn-tertiary:hover {
    opacity: 0.90;
}

nav {
    position: sticky;
    top: 0;
}

#service-item, #advantage-item {
    background-color: var(--bkg-white);
    min-height: 200px;
    max-height: 500px;
    border-radius: 20px;
}

#general-footer {
    background-color: var(--bkg-dark);
    color: var(--color-font-light);
    max-width: 1024px;
    margin: auto;
}

#smaller-footer-items {
    background-color: var(--bkg-light);
    color: var(--color-font-dark);
    max-width: 1024px;
    margin: auto;
}

#advantage-item, .package-item {
    color: var(--color-font-dark);
}

.package-item li {
    list-style-type: disc;
}

#jelly-img {
    height: 500px;
}

.card-border-pink {
    border: 1px solid var(--bkg-pink);
}
.card-border-blue {
    border: 1px solid var(--bkg-dark);
}

#smaller-footer {
    margin-bottom: 100px;
}

#footer-content {
    background-color: var(--bkg-light);
    color: var(--color-font-dark);
}

.testimonial-item {
    background-color: var(--bkg-white);
    color: var(--color-font-dark);
}